Configuration(
    fps: 60,

    unlocal_texture_size: 128,//512,
    unlocal_texture_layers: 9,//11,

    physic_max_step_time: 0.008,
    physic_min_step_time: 0.00001,

    flight_control_ang_damping: 0.1,
    flight_control_lin_damping: 0.5,
    flight_control_power_force: 0.1,
    flight_control_direction_force: 0.001,
    flight_control_default_power_force: 0.0,//500.0,

    rocket_control_lin_damping: 0.5,
    rocket_control_force: 0.001,

    ball_radius: 0.1,

    rocket_launcher_timer: 5.0,

    mine_control_max_force: 0.1,
    mine_control_coef_force: 0.1,
)
